<!--{% extends 'tmpl/layout.html' %}

{% block title %}Client{% endblock %}
{% block breadcrumb %}Client{% endblock %}
{% block styles %}
<link rel="stylesheet" href="css/default.css">
{% endblock %}
{% block scripts %}
{% endblock %}

{% block content %}
<h2>Liste des règles Nat</h2>


<table id="myTab" class="table table-striped">
    <thead>
      <tr>
        <th>idNat</th>
        <th>name</th>
        <th>ipAddressSrc</th>
        <th>portSrc</th>
        <th>ipAddressDst</th>
        <th>portDst</th>
        <th></th>

    
      </tr>
    </thead>


    <tbody>
        {% for row in items %}
            <tr>a
                <td>{{ row.idNat }}</td>
                <td>{{ row.name}}</td>
                <td>{{ row.ipAddressSrc }}</td>
                 <td>{{ row.portSrc }}</td>
                 <td>{{ row.ipAddressDst }}</td>
                 <td>{{ row.portDst }}</td>

                 <td>{{ row.ipAddressDst }}</td>


               
            </tr>
        {% endfor %}
        </tbody>
    </table>
</table>
-->